<section class="item mrgt40">
    <div class="row">
        <div class="img small-12 medium-6 large-6 columns">
                <img ng-src="{{detail.thumbnail.path}}.{{detail.thumbnail.extension}}"/>
        </div>    
        <div class="small-12 medium-6 large-6 columns details">
            <h2>
                {{detail.name}}
            </h2>
            <p>
                {{detail.description}}
            </p>
            <div class="mrgb20"><strong>Last Updated:</strong> {{detail.modified | date}}</div>
            <a href="{{detail.urls[0].url}}" class="button">Details</a> &nbsp;
            <a href="{{detail.urls[1].url}}" class="button">Wiki</a>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <h3 class="mrgt40">
                Available Comics: {{detail.comics.available}}
            </h3>
            <div class="comics" ng-repeat="comic in detail.comics.items">
                - {{comic.name}}
            </div>
        </div>
    </div>
</section>